@using WebDalisa.Models
@{
    ViewBag.Title = "Password";
}

@Scripts.Render("~/Content/Index.js")

@{
    SocioDTO use = null;
}

@if (Session["use"] != null)
{
    use = (SocioDTO)Session["use"];

}

<body id="body" class="bg-fondo">

    <div class="container-fluid bg-fondo">
        <div class="row">
            <div class="col-1  col-md-1-1">
                <div id="nav" class="sidebar close">

                </div>
            </div>
            <div class="col-11   col-md-11-1 p-0 ps-3">
                <section class="home-section">
                    <div class="container-fluid ">
                        <div class="row">
                            <div class="col-12 pb-2 ">
                                <div style="width: 4%; ">
                                    <i class=" bx bx-menu" role="button" style="font-size:50px;"></i>
                                </div>
                                <div class="col-10 m-auto">
                                    <div class="card text-dark bg-light mb-3">
                                        <div class="card-header text-light" style="background-color: #024959;">
                                            CAMBIOS
                                            EN EL ACCESO
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-title text-center">
                                                Para que tu contraseña sea segura, te sugerimos utilices letras y
                                                numeros
                                                intercalandolos<br><br>
                                            </h6>
                                            <div class="row p-1">
                                                <div class="col-12 col-md-6 ">
                                                    <div class="row">
                                                        <div class="col-5  ps-5  p-0 m-0 ">
                                                            <label for="inputPassword6" class="col-form-label fs-8">
                                                                Contraseña Actual
                                                            </label>
                                                        </div>
                                                        <div class="col-7 ">
                                                            <input type="password" id="inputPasswordActual"
                                                                   class=" form-control"
                                                                   aria-describedby="PasswordActualHelpInline">
                                                            <div>
                                                                <p id="textveri" class="textVerificado"></p>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 pt-4 pb-5">
                                                            <div class="float-end">
                                                                <button id="verficar" class="btn btn-secondary "
                                                                        onclick="verificar('@use.usuario.pass')"
                                                                        role="button" text="Verificar">
                                                                    Verificar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 ">
                                                    <div class="row">
                                                        <div class="col-5  text-center ps-5 ">
                                                            <label for="inputPassword6" class="col-form-label fs-8">
                                                                Nueva contraseña
                                                            </label>
                                                        </div>
                                                        <div class="col-7">
                                                            <input name="PASS" type="password" id="inputPasswordNuevo" disabled
                                                                   class="form-control  "
                                                                   aria-describedby="passwordNuevoHelpInline">

                                                        </div>
                                                        <div class="col-8 ">
                                                            <div class="float-end">
                                                                <span style="font-size:8px " class="p-0 m-0">
                                                                    Nivel De
                                                                    Seguridad
                                                                </span>
                                                                <hr class="p-0 m-0">
                                                            </div>
                                                        </div>
                                                        <div class="col-12 pt-3">
                                                            <div class="row">
                                                                <div class="col-5 text-center ps-5 ">
                                                                    <label for="inputPassword6"
                                                                           class="col-form-label fs-8">
                                                                        Repita su contraseña
                                                                    </label>
                                                                </div>
                                                                <div class="col-7">
                                                                    <input name="PASS" type="password" id="inputPasswordRepite"
                                                                           disabled class="form-control  "
                                                                           aria-describedby="passwordRepiteHelpInline">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="float-end">
                                                <button id="cambiar" class="btn btn-secondary " disabled role="button"
                                                        text="Guardar">
                                                    Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#nav").load("http://localhost:64395/Usuario/Menu");
            $("#cambiar").click(function () {
                $.ajax({
                    url: '@Url.Content("~/Usuario/updatePassword")',
                    data: { 'password': $("#inputPasswordNuevo").val()},
                    type: 'POST',
                    dataType: "json",
                    success: function (json) {
                        if (json == "true") {
                            alert('Se realizo el cambio correctamente'); location.reload();
                        } else {
                            alert('Error al realizar el Cambio de password');
                            location.reload();
                        }


                    },
                    error: function (xhr, status) {
                        console.log(status)
                    }
                });
            });

        });

        function verificar(password) {
            if ($("#inputPasswordActual").val() == password) {
                $("#textveri").text("Password correcto").css("color", "green");
                $("#inputPasswordActual").attr("disabled", "disabled");
                $("#inputPasswordNuevo").removeAttr("disabled")
                $("#inputPasswordRepite").removeAttr("disabled")
                $("#cambiar").removeAttr("disabled")
            } else {
                $("#textveri").text("Password incorrecto").css("color", "red");
            }
        }
    </script>
</body>